<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305706354094-qe4eng6bds3v10do2tr0s55051at2e9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305706354094-qe4eng6bds3v10do2tr0s55051at2e9t</string>
	<key>API_KEY</key>
	<string>AIzaSyBtt76XOffNIZvoZnKKMgCq1xtXgUdaWfI</string>
	<key>GCM_SENDER_ID</key>
	<string>305706354094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spisokPokupok.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>spisokpock</string>
	<key>STORAGE_BUCKET</key>
	<string>spisokpock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305706354094:ios:583657eb257616a2a0b43f</string>
</dict>
</plist>